body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans;
  font-size: 20px;
  background-color: lightblue;
  width: 90%;
  text-align: center;
  align-self: center;
  margin: 0 auto;
}

/* MENU HELLO AND BOTTON CLOSE SESION <Barra/> */
.menu-closesesion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  background-color: grey;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
}
.name {
  color: red;
  text-transform: uppercase;
}
.button-close-sesion {
  /* width: 100%; */
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button-close-sesion:hover {
  background-color: #45a049;
}

/* nueva idea */

.button-new-proyect {
  background-color: #4caf50;
  width: 50%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button-new-proyect:hover {
  background-color: #45a049;
}
.input-new-proyect {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 40px;
}
.submit-new-proyect {
  background-color: #4caf50;
  /* width: 40%; */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.error-input-alone {
  background-color: red;
  display: block;
  color: white;
  width: 70%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.list-proyects-buttons {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  margin: 15px 8px;
  cursor: pointer;
}
.list-proyects-buttons:hover {
  background-color: blue;
}

/* Notes */

.input-new-note {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 40px;
}
.submit-new-note {
  background-color: #4caf50;
  /* width: 40%; */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* TASKS */
.task-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
}

.task-title {
  text-decoration: none;
  list-style: none;
}
li {
  text-decoration: none;
  list-style: none;
}
.task-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}
.button {
  padding: 14px 10px;
  width: 100px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.edit {
  background-color: rgb(236, 236, 139);
}
.delete {
  background-color: red;
}
.delete-proyect {
  background-color: rgb(240, 98, 98);
}

/* LOGIN */
.container-login {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.input-email-password,
.input-email-login {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-login {
  padding: 14px 10px;
  width: 100px;
  margin: 15px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button-login:hover {
  background-color: rgb(122, 122, 194);
}
a {
  list-style: none;
  text-decoration: none;
}
.input-new-user {
  width: 50%;
  padding: 12px 20px;
  margin: 8px auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
